body {
  margin: 0;
  background: #0b0b0b;
  font-family: Arial;
}

/* CONTAINER GERAL */
.container {
  display: flex;
  height: 100vh;
}

/* MENU */
.menu {
  width: 140px;
  background: #2a0d16;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu button {
  background: #a03a4a;
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}

.avatar {
  width: 100%;
  border-radius: 10px;
}

/* ÁREA PRINCIPAL */
#conteudo {
  flex: 1;
  position: relative;
  overflow: hidden;
}

/* PERSONAGEM (LADO DIREITO GRANDE) */
.personagem {
  position: absolute;
  right: 60px;
  bottom: 0;
  height: 95%;
  z-index: 1;
}

/* ===== TELA PERFIL ===== */

.info-box {
  position: absolute;
  left: 20px;
  top: 80px;
  width: 320px;

  background: #c2a07f;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}

/* ===== TELA ROUPAS ===== */

/* CAIXA GRANDE DAS ROUPAS */
.roupas-box {
  position: absolute;
  left: 20px;
  top: 20px;

  width: 55%;
  height: 55%;

  background: #c2a07f;
  border-radius: 10px;
  padding: 15px;

  display: flex;
  gap: 15px;
  align-items: flex-start;
}

/* IMAGENS DAS ROUPAS */
.roupas-box img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #000;
}

/* CAIXA INFERIOR (DESCRIÇÃO) */
.roupa-info {
  position: absolute;
  left: 20px;
  bottom: 20px;

  width: 55%;

  background: #c2a07f;
  padding: 15px;
  border-radius: 10px;
}

/* BOTÃO VARIAÇÕES */
.btn-variacoes {
  position: absolute;
  right: 15px;
  top: 15px;

  background: #a03a4a;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}
